<%- include('partials/header.ejs'); %>


<div class="container">
    <header class="jumbotron">
        <div>
            <div>
                <img src="https://static.thenounproject.com/png/23947-200.png" width="70" height="70" class="d-inline-block align-top" alt="">
                <span style="font-size: 50px; margin-left: 15px">Recommendations</span>
            </div>
            <p>Recommendation results below are based on your previous keyword search</p>
        </div>
    </header>


    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% recommendations.forEach( function(movie) { %>
            <div class="card" style="width: 250px; margin-left: 15px; margin-right: 10px; margin-top: 5px">
                <img src="<%= movie['Poster'] %>" class="card-img-top" alt="" height="300px">
                <div class="card-body">
                    <h5 class="card-title"><%= movie['Title'] %></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Type: <%= movie['Type'] %></li>
                    <li class="list-group-item">Year: <%= movie['Year'] %></li>
                </ul>
                <div class="card-body">
                    <a href="https://www.imdb.com/title/<%= movie['imdbID'] %>/" class="card-link">More Info</a>
                    <a href="#" class="card-link">Add Review</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%- include('partials/footer.ejs'); %>